<div id="centralizar">
  <div class="card-container">
      <app-card 
          titulo="Basic" 
          preco="19.99" 
          [conteudo]="conteudoCardBasic">
      </app-card>
  </div>

  <div class="card-container">
    <app-card 
        titulo="Professional" 
        preco="24.99" 
        [conteudo]="conteudoCardProfessional" 
        cor="#8a8ee4"
        corTexto="#ffffff">
    </app-card>
  </div> 

  <div class="card-container">
    <app-card 
        titulo="Master" 
        preco="39.99" 
        [conteudo]="conteudoCardMaster">
    </app-card>
  </div>
</div>